@using Webdiyer.WebControls.Mvc
@model PagedList<Shop.Models.Supplier>
<link href="~/Content/ActionLink/actionlink.css" rel="stylesheet" />
<div>
    <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
        <thead>
            <tr class="am-success">
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">编号</th>
                <th class="table-author">供应商名称</th>
                <th class="table-title">联系人</th>
                <th class="table-author am-hide-sm-only">联系电话</th>
                <th width="130px" class="table-set">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Number)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContNumber)
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                @*@Html.ActionLink("编辑", "Updatte", new { id = item.ID }) |
                                @Html.ActionLink("查看", "See", new { id = item.ID }) |
                                @Html.ActionLink("删除", "Delete", new { id = item.ID })*@
                                <a class="am-btn am-btn-default am-btn-xs am-text-success am-round am-icon-file" data-am-modal="{target: '#my-popups'}" href="/Supplier/See?id=@item.ID"></a>
                                <a class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" data-am-modal="{target: '#my-popups'}" href="/Supplier/Updatte?id=@item.ID"><span class="am-icon-pencil-square-o"></span></a>
                                <a class="am-btn am-btn-default am-btn-xs am-text-danger am-round" href="/Supplier/Delete?id=@item.ID"><span class="am-icon-trash-o"></span></a>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Ajax.Pager(Model, new PagerOptions
{
    AutoHide = false,
    PageIndexParameterName = "id",
    FirstPageText = "首页",
    PrevPageText = "上一页",
    NextPageText = "下一页",
    LastPageText = "末页",
    NumericPagerItemCount = 5,
    ContainerTagName = "ul",
    CssClass = "pagination",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>"
}, new MvcAjaxOptions
{
    UpdateTargetId = "articles",
})
</div>

